.banner {
  width: 100%;
  height: 150px;
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.brand-name {
  background-color: #1eff29;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.slogan {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
