body {
  font-family: Arial, sans-serif;
}

.services {
  display: flex; /* để các box nằm trên cùng một hàng */
  justify-content: center;
  background: #f4f9f7;
  padding: 30px;
}

.service-box {
  width: 250px;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  background: #fff;
  text-align: center;
  border-radius: 8px;
}

.service-box h3 {
  color: #00bcd4;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 14px;
  color: #555;
}
